:root {
  --default-font-title: BebasNeueBook;
  --default-font-subtitle: BebasNeueRegular;
  --default-font-text: HelveticaLTStd-LightCond;
}

* {
  box-sizing: border-box;
  outline: 0;
  text-decoration: none;
  text-rendering: optimizelegibility;
}

html {
  background-color: black;
  font-size: 16px;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: black;
  font-family: var(--default-font-text);
  font-size: 16px;
}

.profile {
  background-color: white;
  border: 2px solid white;
  margin-top: 50px;
}

.profile .profile__thumb {
  background-color: white;
  border: 1px solid black;
  left: -10px;
  margin-bottom: 0;
  padding: 20px;
  position: relative;
  top: -35px;
  width: 90%;
}

.profile .profile__thumb img {
  border: 1px solid black;
  height: 100%;
  object-fit: cover;
  object-position: top;
  width: 100%;
  filter: grayscale(100%);
}

.profile .profile__card {
  padding: 0 15px 25px;
}

.profile .profile__name {
  color: black;
  font-family: var(--default-font-title);
  font-size: 30px;
  letter-spacing: 0.3px;
  line-height: 30px;
  margin-bottom: 0;
  margin-top: 0;
}

.profile .profile__profession {
  color: black;
  font-family: var(--default-font-subtitle);
  font-size: 28px;
  letter-spacing: 1px;
  line-height: 32px;
  margin-bottom: 0;
  margin-top: 0;
}

.intro {
  margin-top: 45px;
}

.intro .intro__title {
  color: white;
  font-family: var(--default-font-subtitle);
  font-size: 40px;
  letter-spacing: 1px;
  line-height: 40px;
}

.intro .intro__description {
  color: white;
  font-family: var(--default-font-title);
  font-size: 28px;
  line-height: 30px;
  margin-bottom: 0;
}

.intro .intro__sep {
  background-color: white;
  border: none;
  height: 1px;
  width: 100%;
}

.information .information__title {
  color: white;
  font-family: var(--default-font-subtitle);
  font-size: 30px;
  line-height: 34px;
  margin-bottom: 30px;
}

.information .information__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.information .information__item {
  color: white;
  font-family: var(--default-font-text);
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 10px;
}

.information .information__item b {
  background-color: white;
  color: black;
  display: block;
  font-family: var(--default-font-title);
  font-size: 24px;
  line-height: 26px;
  padding-left: 5px;
}

.contact-us {
  color: white;
  display: block;
  font-family: var(--default-font-title);
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 25px;
  margin-top: 25px;
  padding-top: 25px;
  position: relative;
}

.contact-us::after,
.contact-us::before {
  background-color: white;
  display: block;
  content: '';
  height: 1px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.contact-us a {
  color: white;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.contact-us a:hover {
  opacity: 0.7;
  text-decoration: none;
}

.redes {
  margin-bottom: 25px;
}

.redes a {
  transition: all 0.25s ease-in-out;
}

.redes a:hover {
  opacity: 0.7;
  text-decoration: none;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .border__left {
    border-left: 1px solid white;
  }

  .border__right {
    border-right: 1px solid white;
  }

  .profile {
    margin-top: 120px;
  }

  .profile .profile__thumb {
    height: 400px;
    left: inherit;
    margin-left: auto;
    margin-top: -35px;
    right: -30px;
    top: -35px;
    width: 400px;
  }

  .profile .profile__card {
    padding: 0 30px 25px;
  }

  .profile .profile__name {
    font-size: 36px;
    line-height: 36px;
  }

  .contact-us {
    margin-top: 25px;
    padding-top: 0;
  }

  .contact-us::after,
  .contact-us::before {
    top: 8px;
    width: 23%;
  }

  .contact-us::after {
    left: inherit;
    right: 0;
  }
}
